
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
}

main {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

header {
    background-color: #A2D7D2;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    display: grid;
    grid-template-columns: .5fr .5fr .25fr .5fr .5fr .25fr .25fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}

span {
    display: flex;
    justify-content: center;
}

input {
    display: flex;
    justify-content: center;
    width: 75%;
}
